<div class="conteiner">
  <div class="base">
    <h3>HTML components</h3>
    <div class="textarea-wrapper">
      <label for="textarea">Textarea:</label>
      <textarea id="textarea" class="textarea" languageSwitching></textarea>

      <label for="input">Input:</label>
      <input id="input" class="input" languageSwitching />
    </div>
  </div>

  <div class="material">
    <h3>Syncfusion components</h3>
    <div class="mat-form-field-wrapper">
      <div class="syncfusion-wrapper">
        <label for="input">Input:</label>
        <ejs-textbox id="input"  languageSwitching floatLabelType="Auto"></ejs-textbox>
      </div>
      <div class="syncfusion-wrapper">
        <label for="input">TextArea:</label>
        <ejs-textbox languageSwitching [multiline]='true' id='defaultRTE'></ejs-textbox>
      </div>
    </div>

  </div>

  <div class="material">
    <h3>Angular Material components</h3>

    <div class="mat-form-field-wrapper"  dir="rtl">
      <mat-form-field  class="example-full-width">
        <mat-label>Textarea</mat-label>
        <textarea languageSwitching rows="5" matInput></textarea>
      </mat-form-field>

      <div class="mat-form-field-wrapper">
        <mat-form-field class="example-full-width">
          <mat-label>Input</mat-label>
          <input languageSwitching matInput>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

