<div class="conteiner">
  <div class="base">
    <h3>HTML components</h3>
    <div class="textarea-wrapper">
      <label for="textarea">Textarea:</label>
      <textarea id="textarea" class="textarea" languageSwitching></textarea>

      <label for="input">Input:</label>
      <input id="input" class="input" languageSwitching />
    </div>
  </div>

  <div class="material">
    <h3>Syncfusion components</h3>
    <div class="mat-form-field-wrapper">
      <div class="syncfusion-wrapper">
        <label for="input">Input:</label>
        <ejs-textbox id="input" languageSwitching floatLabelType="Auto"></ejs-textbox>
      </div>
      <div class="syncfusion-wrapper">
        <label for="input">TextArea:</label>
        <ejs-textbox languageSwitching [multiline]='true' id='defaultRTE'></ejs-textbox>
      </div>
      <div class="syncfusion-wrapper">
        <div class="control-section">
          <div id='content'>
            <div class="control-section">
              <div id='content' style="margin: 0px auto; width:300px; padding-top: 40px;">
                <ejs-dropdownlist languageSwitching id='diacritics' [dataSource]='data' [allowFiltering]='true'
                  [ignoreAccent]='true' placeholder='Select a value' filterBarPlaceholder='e.g: gul'>
                </ejs-dropdownlist>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="syncfusion-wrapper">
        <div class="control-section">
          <div id='content'>
            <div class="control-section">
              <div id='content' style="margin: 0px auto; width:300px; padding-top: 40px;">
                <ejs-dropdownlist languageSwitching id='diacritics' [dataSource]='data' [allowFiltering]='true'
                  [ignoreAccent]='true' placeholder='Select a value' filterBarPlaceholder='e.g: gul'>
                </ejs-dropdownlist>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="syncfusion-wrapper">
        <div class="control-section">
          <div id='content'>
            <div class="control-section">
              <div id='content' style="margin: 0px auto; width:300px; padding-top: 40px;">
                <ejs-dropdownlist languageSwitching id='diacritics' [dataSource]='data' [allowFiltering]='true'
                  [ignoreAccent]='true' placeholder='Select a value' filterBarPlaceholder='e.g: gul'>
                </ejs-dropdownlist>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="syncfusion-wrapper">
        <div class="control-section">
          <div id='content'>
            <div class="control-section">
              <div id='content' style="margin: 0px auto; width:300px; padding-top: 40px;">
                <ejs-dropdownlist languageSwitching id='diacritics' [dataSource]='data' [allowFiltering]='true'
                  [ignoreAccent]='true' placeholder='Select a value' filterBarPlaceholder='e.g: gul'>
                </ejs-dropdownlist>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="material">
    <h3>Angular Material components</h3>

    <div class="mat-form-field-wrapper" dir="rtl">
      <mat-form-field class="example-full-width">
        <mat-label>Textarea</mat-label>
        <textarea languageSwitching rows="5" matInput></textarea>
      </mat-form-field>

      <div class="mat-form-field-wrapper">
        <mat-form-field class="example-full-width">
          <mat-label>Input</mat-label>
          <input languageSwitching matInput>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>


<!-- <div class="e-ddl e-popup e-lib e-control e-popup-open" id="diacritics_popup" _ngcontent-hjo-c90=""
  style="visibility: visible; max-height: 300px; width: 300px; left: 552.5px; top: 665px; z-index: 1000000000;">
  <span class="e-filter-parent" _ngcontent-hjo-c90="">
    <span class="e-input-group e-control-wrapper e-input-focus"
      _ngcontent-hjo-c90="">
      <input class="e-input-filter e-input e-lib e-keyboard" _ngcontent-hjo-c90="" type="text" placeholder="e.g: gul"
        aria-disabled="false" role="combobox" autocomplete="off" autocapitalize="off" spellcheck="false"><span
        class="e-input-group-icon e-clear-icon e-icons" _ngcontent-hjo-c90="" style="visibility: hidden;">
      </span>
    </span>
  </span>
  <div class="e-content e-dropdownbase" _ngcontent-hjo-c90="" tabindex="0" style="max-height: 281px;">
    <ul class="e-list-parent e-ul " _ngcontent-hjo-c90="" role="listbox" id="diacritics_options" aria-hidden="false">
      <li class="e-list-item e-item-focus" id="4967-0" _ngcontent-hjo-c90="" role="option" data-value="Badminton">
        Badminton</li>
      <li class="e-list-item " id="4967-1" _ngcontent-hjo-c90="" role="option" data-value="Basketball">Basketball</li>
      <li class="e-list-item " id="4967-2" _ngcontent-hjo-c90="" role="option" data-value="Cricket">Cricket</li>
      <li class="e-list-item " id="4967-3" _ngcontent-hjo-c90="" role="option" data-value="Golf">Golf</li>
      <li class="e-list-item " id="4967-4" _ngcontent-hjo-c90="" role="option" data-value="Hockey">Hockey</li>
    </ul>
  </div>
</div> -->
